.aboutus_content{max-width: 950px; margin: 0 auto;
    article{padding: 20px 0;}
    .heading{font-size: 28px; color: $color2; text-align: center; padding: 10px 0;}
    p{text-align: justify; font-size: 15px; margin-bottom: 20px;}
    span{font-weight: 600; color: $color2; display: block;}
}