// .footer
.footer{background-color: $color2; color: $color1; padding: 10px 0;
    .container{display: flex; justify-content: space-between; align-items: center;}
    a{display: block; margin-left: 15px;}
    .socicon{display: flex;}
}
